<button (click)="selectionMode()">Select Mode</button>

<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData$ | async"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  [suppressRowClickSelection]="true"
  [getContextMenuItems]="getContextMenuItems"
  [statusBar]="statusBar"
  (selectionChanged)="onSelectionChanged()"
  (gridReady)="onGridReady($event)"
  (rowDataChanged)="setInitRowsAmount()"
>
</ag-grid-angular>
